In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [151]:
## mvp share ##
mvp_12 = pd.read_csv('../data/mvp/12_13_mvp.csv')
mvp_12.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,-9999
0,1,LeBron James,28,MIA,120.0,1207.0,1210,0.998,76,37.9,...,8.0,7.3,1.7,0.9,0.565,0.406,0.753,19.3,0.322,jamesle01
1,2,Kevin Durant,24,OKC,0.0,765.0,1210,0.632,81,38.5,...,7.9,4.6,1.4,1.3,0.510,0.416,0.905,18.9,0.291,duranke01
2,3,Carmelo Anthony,28,NYK,1.0,475.0,1210,0.393,67,37.0,...,6.9,2.6,0.8,0.5,0.449,0.379,0.830,9.5,0.184,anthoca01
3,4,Chris Paul,27,LAC,0.0,289.0,1210,0.239,70,33.4,...,3.7,9.7,2.4,0.1,0.481,0.328,0.885,13.9,0.287,paulch01
4,5,Kobe Bryant,34,LAL,0.0,184.0,1210,0.152,78,38.6,...,5.6,6.0,1.4,0.3,0.463,0.324,0.839,10.9,0.174,bryanko01

In [152]:
mvp_12 = mvp_12[['Player', 'Share']]
mvp_12.head()

            Player  Share
0     LeBron James  0.998
1     Kevin Durant  0.632
2  Carmelo Anthony  0.393
3       Chris Paul  0.239
4      Kobe Bryant  0.152

In [36]:
## team win-loss ##
team_12 = pd.read_csv('../data/team/12_13_team.csv')
team_12.head()

,Rk,Team,Conf,Div,W,L,W/L%,MOV,ORtg,DRtg,NRtg,MOV/A,ORtg/A,DRtg/A,NRtg/A
0,1,Oklahoma City Thunder,W,NW,60,22,0.732,9.21,113.30,103.35,9.95,9.15,113.21,103.33,9.89
1,2,Miami Heat,E,SE,66,16,0.805,7.87,113.43,104.77,8.67,7.03,113.28,105.53,7.75
2,3,San Antonio Spurs,W,SW,58,24,0.707,6.40,109.11,102.26,6.85,6.67,109.05,101.90,7.14
3,4,Los Angeles Clippers,W,P,56,26,0.683,6.45,111.62,104.47,7.16,6.43,111.58,104.44,7.13
4,5,Denver Nuggets,W,NW,57,25,0.695,5.09,111.23,105.97,5.26,5.37,111.34,105.76,5.58

In [37]:
team_12 = team_12[['Team', 'W/L%']]
team_12.head()

                    Team   W/L%
0  Oklahoma City Thunder  0.732
1             Miami Heat  0.805
2      San Antonio Spurs  0.707
3   Los Angeles Clippers  0.683
4         Denver Nuggets  0.695

In [38]:
# team abbreviations
teams = {
    'Atlanta Hawks': 'ATL',
    'Brooklyn Nets': 'BRK',
    'Boston Celtics': 'BOS',
    'Charlotte Hornets': 'CHO',
    'Charlotte Bobcats': 'CHA',
    'Chicago Bulls': 'CHI',
    'Cleveland Cavaliers': 'CLE',
    'Dallas Mavericks': 'DAL',
    'Denver Nuggets': 'DEN',
    'Detroit Pistons': 'DET',
    'Golden State Warriors': 'GSW',
    'Houston Rockets': 'HOU',
    'Indiana Pacers': 'IND',
    'Los Angeles Clippers': 'LAC',
    'Los Angeles Lakers': 'LAL',
    'Memphis Grizzlies': 'MEM',
    'Miami Heat': 'MIA',
    'Milwaukee Bucks': 'MIL',
    'Minnesota Timberwolves': 'MIN',
    'New Orleans Pelicans': 'NOP',
    'New Orleans Hornets': 'NOH',
    'New York Knicks': 'NYK',
    'Oklahoma City Thunder': 'OKC',
    'Orlando Magic': 'ORL',
    'Philadelphia 76ers': 'PHI',
    'Phoenix Suns': 'PHO',
    'Portland Trail Blazers': 'POR',
    'Sacramento Kings': 'SAC',
    'San Antonio Spurs': 'SAS',
    'Toronto Raptors': 'TOR',
    'Utah Jazz': 'UTA',
    'Washington Wizards': 'WAS'
}

In [40]:
team_12 = team_12.replace({'Team': teams})
team_12.head()

  Team   W/L%
0  OKC  0.732
1  MIA  0.805
2  SAS  0.707
3  LAC  0.683
4  DEN  0.695

In [121]:
team_12 = team_12.rename(columns = {'Team': 'Tm'})
team_12.head()

    Tm   W/L%
0  OKC  0.732
1  MIA  0.805
2  SAS  0.707
3  LAC  0.683
4  DEN  0.695

In [53]:
## player per-game ##
game_12 = pd.read_csv('../data/per_game/12_13_game.csv')
game_12.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
0,1,Quincy Acy,PF,22,TOR,29,0,11.8,1.4,2.6,...,1.0,1.6,2.7,0.4,0.4,0.5,0.6,1.8,4.0,acyqu01
1,2,Jeff Adrien,PF,26,CHA,52,5,13.7,1.4,3.2,...,1.3,2.5,3.8,0.7,0.3,0.5,0.6,1.5,4.0,adrieje01
2,3,Arron Afflalo,SF,27,ORL,64,64,36.0,6.2,14.1,...,0.5,3.3,3.7,3.2,0.6,0.2,2.2,2.1,16.5,afflaar01
3,4,Josh Akognon,PG,26,DAL,3,0,3.0,0.7,1.3,...,0.0,0.3,0.3,0.3,0.0,0.0,0.0,1.0,1.7,akognjo01
4,5,Cole Aldrich,C,24,TOT,45,0,8.6,1.0,1.8,...,0.7,2.0,2.7,0.2,0.1,0.5,0.5,1.3,2.2,aldrico01

In [54]:
game_12['Player'] = game_12['Player'].str.replace('*', '')
game_12.iloc[7]['Player']

/var/folders/w7/hr6cmnr97glbv26gtvp4724w0000gn/T/ipykernel_24121/3219788247.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  game_12['Player'] = game_12['Player'].str.replace('*', '')

'Ray Allen'

In [55]:
game_12 = game_12.drop('Player-additional', axis=1)
game_12.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,22,TOR,29,0,11.8,1.4,2.6,...,0.816,1.0,1.6,2.7,0.4,0.4,0.5,0.6,1.8,4.0
1,2,Jeff Adrien,PF,26,CHA,52,5,13.7,1.4,3.2,...,0.650,1.3,2.5,3.8,0.7,0.3,0.5,0.6,1.5,4.0
2,3,Arron Afflalo,SF,27,ORL,64,64,36.0,6.2,14.1,...,0.857,0.5,3.3,3.7,3.2,0.6,0.2,2.2,2.1,16.5
3,4,Josh Akognon,PG,26,DAL,3,0,3.0,0.7,1.3,...,NaN,0.0,0.3,0.3,0.3,0.0,0.0,0.0,1.0,1.7
4,5,Cole Aldrich,C,24,TOT,45,0,8.6,1.0,1.8,...,0.600,0.7,2.0,2.7,0.2,0.1,0.5,0.5,1.3,2.2

In [56]:
## player totals ##
total_12 = pd.read_csv('../data/totals/12_13_totals.csv')
total_12.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
0,1,Quincy Acy,PF,22,TOR,29,0,342,42,75,...,30,47,77,11,13,15,17,53,116,acyqu01
1,2,Jeff Adrien,PF,26,CHA,52,5,713,72,168,...,68,128,196,36,18,27,32,80,209,adrieje01
2,3,Arron Afflalo,SF,27,ORL,64,64,2307,397,905,...,29,210,239,206,40,11,138,137,1057,afflaar01
3,4,Josh Akognon,PG,26,DAL,3,0,9,2,4,...,0,1,1,1,0,0,0,3,5,akognjo01
4,5,Cole Aldrich,C,24,TOT,45,0,388,44,80,...,30,90,120,9,5,23,23,60,100,aldrico01

In [58]:
total_12['Player'] = total_12['Player'].str.replace('*', '')
total_12.iloc[7]['Player']

/var/folders/w7/hr6cmnr97glbv26gtvp4724w0000gn/T/ipykernel_24121/2062872366.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  total_12['Player'] = total_12['Player'].str.replace('*', '')

'Ray Allen'

In [59]:
total_12 = total_12.drop('Player-additional', axis=1)
total_12.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,22,TOR,29,0,342,42,75,...,0.816,30,47,77,11,13,15,17,53,116
1,2,Jeff Adrien,PF,26,CHA,52,5,713,72,168,...,0.650,68,128,196,36,18,27,32,80,209
2,3,Arron Afflalo,SF,27,ORL,64,64,2307,397,905,...,0.857,29,210,239,206,40,11,138,137,1057
3,4,Josh Akognon,PG,26,DAL,3,0,9,2,4,...,NaN,0,1,1,1,0,0,0,3,5
4,5,Cole Aldrich,C,24,TOT,45,0,388,44,80,...,0.600,30,90,120,9,5,23,23,60,100

In [65]:
total_12 = total_12.rename(columns = {col: 'T_' + col for col in total_12.columns if col not in ['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS']})
total_12.head()

,Rk,Player,Pos,Age,Tm,G,GS,T_MP,T_FG,T_FGA,...,T_FT%,T_ORB,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS
0,1,Quincy Acy,PF,22,TOR,29,0,342,42,75,...,0.816,30,47,77,11,13,15,17,53,116
1,2,Jeff Adrien,PF,26,CHA,52,5,713,72,168,...,0.650,68,128,196,36,18,27,32,80,209
2,3,Arron Afflalo,SF,27,ORL,64,64,2307,397,905,...,0.857,29,210,239,206,40,11,138,137,1057
3,4,Josh Akognon,PG,26,DAL,3,0,9,2,4,...,NaN,0,1,1,1,0,0,0,3,5
4,5,Cole Aldrich,C,24,TOT,45,0,388,44,80,...,0.600,30,90,120,9,5,23,23,60,100

In [67]:
total_12 = total_12.drop(['Rk', 'Pos', 'Age', 'Tm', 'G', 'GS'], axis=1)
total_12.head()

,Player,T_MP,T_FG,T_FGA,T_FG%,T_3P,T_3PA,T_3P%,T_2P,T_2PA,...,T_FT%,T_ORB,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS
0,Quincy Acy,342,42,75,0.560,1,2,0.5,41,73,...,0.816,30,47,77,11,13,15,17,53,116
1,Jeff Adrien,713,72,168,0.429,0,2,0.0,72,166,...,0.650,68,128,196,36,18,27,32,80,209
2,Arron Afflalo,2307,397,905,0.439,72,240,0.3,325,665,...,0.857,29,210,239,206,40,11,138,137,1057
3,Josh Akognon,9,2,4,0.500,1,2,0.5,1,2,...,NaN,0,1,1,1,0,0,0,3,5
4,Cole Aldrich,388,44,80,0.550,0,0,NaN,44,80,...,0.600,30,90,120,9,5,23,23,60,100

In [156]:
season_12 = game_12.merge(total_12, on='Player')
season_12.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,T_FT%,T_ORB,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS
0,1,Quincy Acy,PF,22,TOR,29,0,11.8,1.4,2.6,...,0.816,30,47,77,11,13,15,17,53,116
1,2,Jeff Adrien,PF,26,CHA,52,5,13.7,1.4,3.2,...,0.650,68,128,196,36,18,27,32,80,209
2,3,Arron Afflalo,SF,27,ORL,64,64,36.0,6.2,14.1,...,0.857,29,210,239,206,40,11,138,137,1057
3,4,Josh Akognon,PG,26,DAL,3,0,3.0,0.7,1.3,...,NaN,0,1,1,1,0,0,0,3,5
4,5,Cole Aldrich,C,24,TOT,45,0,8.6,1.0,1.8,...,0.600,30,90,120,9,5,23,23,60,100

In [157]:
season_12 = season_12.drop('Rk', axis=1)
season_12.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,T_FT%,T_ORB,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS
0,Quincy Acy,PF,22,TOR,29,0,11.8,1.4,2.6,0.560,...,0.816,30,47,77,11,13,15,17,53,116
1,Jeff Adrien,PF,26,CHA,52,5,13.7,1.4,3.2,0.429,...,0.650,68,128,196,36,18,27,32,80,209
2,Arron Afflalo,SF,27,ORL,64,64,36.0,6.2,14.1,0.439,...,0.857,29,210,239,206,40,11,138,137,1057
3,Josh Akognon,PG,26,DAL,3,0,3.0,0.7,1.3,0.500,...,NaN,0,1,1,1,0,0,0,3,5
4,Cole Aldrich,C,24,TOT,45,0,8.6,1.0,1.8,0.550,...,0.600,30,90,120,9,5,23,23,60,100

In [158]:
season_12 = season_12.merge(team_12, on='Tm')
print(season_12.shape)
season_12.head()

(421, 53)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,T_ORB,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS,W/L%
0,Quincy Acy,PF,22,TOR,29,0,11.8,1.4,2.6,0.560,...,30,47,77,11,13,15,17,53,116,0.415
1,Alan Anderson,SF,30,TOR,65,2,23.0,3.6,9.5,0.383,...,34,114,148,103,48,7,80,131,693,0.415
2,Andrea Bargnani,PF,27,TOR,35,25,28.7,4.9,12.2,0.399,...,26,102,128,38,21,23,54,64,443,0.415
3,DeMar DeRozan,SG,23,TOR,82,82,36.7,6.7,15.0,0.445,...,48,272,320,204,76,24,151,173,1485,0.415
4,Landry Fields,SF,24,TOR,51,22,20.3,2.0,4.4,0.457,...,59,149,208,60,32,8,42,63,240,0.415

In [159]:
# lowest points in a season -- 1097 (statmuse)
season_12 = season_12[season_12['T_PTS'] > 1090]
print(season_12.shape)
season_12.head()

(54, 53)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,T_ORB,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS,W/L%
3,DeMar DeRozan,SG,23,TOR,82,82,36.7,6.7,15.0,0.445,...,48,272,320,204,76,24,151,173,1485,0.415
26,Kemba Walker,PG,22,CHA,82,82,34.9,6.4,15.2,0.423,...,60,223,283,471,160,31,200,153,1455,0.256
54,O.J. Mayo,SG,25,DAL,82,82,35.5,5.6,12.5,0.449,...,36,255,291,361,93,23,210,195,1255,0.500
59,LaMarcus Aldridge,PF,27,POR,74,74,37.7,8.6,17.8,0.484,...,175,495,670,192,62,91,143,187,1560,0.402
68,Damian Lillard,PG,22,POR,82,82,38.6,6.7,15.7,0.429,...,42,215,257,531,74,19,243,172,1562,0.402

In [160]:
# lowest recorded number of games started by an mvp -- 49 (statmuse)
# will let cutoff be 40
season_12 = season_12[season_12['GS'] > 40]
print(season_12.shape)
season_12.head()

(51, 53)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,T_ORB,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS,W/L%
3,DeMar DeRozan,SG,23,TOR,82,82,36.7,6.7,15.0,0.445,...,48,272,320,204,76,24,151,173,1485,0.415
26,Kemba Walker,PG,22,CHA,82,82,34.9,6.4,15.2,0.423,...,60,223,283,471,160,31,200,153,1455,0.256
54,O.J. Mayo,SG,25,DAL,82,82,35.5,5.6,12.5,0.449,...,36,255,291,361,93,23,210,195,1255,0.500
59,LaMarcus Aldridge,PF,27,POR,74,74,37.7,8.6,17.8,0.484,...,175,495,670,192,62,91,143,187,1560,0.402
68,Damian Lillard,PG,22,POR,82,82,38.6,6.7,15.7,0.429,...,42,215,257,531,74,19,243,172,1562,0.402

In [161]:
# worst win percentage -- 45.8%
# W/L% = W / (W + L)  (basketball-reference.com)
season_12 = season_12[season_12['W/L%'] >= 0.45]
print(season_12.shape)
season_12.head()

(39, 53)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,T_ORB,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS,W/L%
54,O.J. Mayo,SG,25,DAL,82,82,35.5,5.6,12.5,0.449,...,36,255,291,361,93,23,210,195,1255,0.500
90,Chris Bosh,C,28,MIA,74,74,33.2,6.6,12.3,0.535,...,131,370,501,123,66,101,128,168,1232,0.805
96,LeBron James,PF,28,MIA,76,76,37.9,10.1,17.8,0.565,...,97,513,610,551,129,67,226,110,2036,0.805
100,Dwyane Wade,SG,31,MIA,69,69,34.7,8.2,15.8,0.521,...,86,258,344,352,128,56,194,140,1463,0.805
104,Mike Conley,PG,25,MEM,80,80,34.5,5.2,11.8,0.440,...,43,182,225,487,174,24,189,171,1168,0.683

In [164]:
mvp_12.head()

            Player  Share
0     LeBron James  0.998
1     Kevin Durant  0.632
2  Carmelo Anthony  0.393
3       Chris Paul  0.239
4      Kobe Bryant  0.152

In [170]:
season_12 = season_12.merge(mvp_12, how='left')
print(season_12.shape)
season_12.head()

(39, 54)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS,W/L%,Share
0,O.J. Mayo,SG,25,DAL,82,82,35.5,5.6,12.5,0.449,...,255,291,361,93,23,210,195,1255,0.500,NaN
1,Chris Bosh,C,28,MIA,74,74,33.2,6.6,12.3,0.535,...,370,501,123,66,101,128,168,1232,0.805,NaN
2,LeBron James,PF,28,MIA,76,76,37.9,10.1,17.8,0.565,...,513,610,551,129,67,226,110,2036,0.805,0.998
3,Dwyane Wade,SG,31,MIA,69,69,34.7,8.2,15.8,0.521,...,258,344,352,128,56,194,140,1463,0.805,0.004
4,Mike Conley,PG,25,MEM,80,80,34.5,5.2,11.8,0.440,...,182,225,487,174,24,189,171,1168,0.683,NaN

In [171]:
season_12['Share'] = season_12['Share'].fillna(0)
season_12.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS,W/L%,Share
0,O.J. Mayo,SG,25,DAL,82,82,35.5,5.6,12.5,0.449,...,255,291,361,93,23,210,195,1255,0.500,0.000
1,Chris Bosh,C,28,MIA,74,74,33.2,6.6,12.3,0.535,...,370,501,123,66,101,128,168,1232,0.805,0.000
2,LeBron James,PF,28,MIA,76,76,37.9,10.1,17.8,0.565,...,513,610,551,129,67,226,110,2036,0.805,0.998
3,Dwyane Wade,SG,31,MIA,69,69,34.7,8.2,15.8,0.521,...,258,344,352,128,56,194,140,1463,0.805,0.004
4,Mike Conley,PG,25,MEM,80,80,34.5,5.2,11.8,0.440,...,182,225,487,174,24,189,171,1168,0.683,0.000

In [172]:
season_12

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS,W/L%,Share
0,O.J. Mayo,SG,25,DAL,82,82,35.5,5.6,12.5,0.449,...,255,291,361,93,23,210,195,1255,0.500,0.000
1,Chris Bosh,C,28,MIA,74,74,33.2,6.6,12.3,0.535,...,370,501,123,66,101,128,168,1232,0.805,0.000
2,LeBron James,PF,28,MIA,76,76,37.9,10.1,17.8,0.565,...,513,610,551,129,67,226,110,2036,0.805,0.998
3,Dwyane Wade,SG,31,MIA,69,69,34.7,8.2,15.8,0.521,...,258,344,352,128,56,194,140,1463,0.805,0.004
4,Mike Conley,PG,25,MEM,80,80,34.5,5.2,11.8,0.440,...,182,225,487,174,24,189,171,1168,0.683,0.000
5,Marc Gasol,C,28,MEM,80,80,35.0,5.4,10.9,0.494,...,438,622,318,80,139,157,255,1127,0.683,0.001
6,Zach Randolph,PF,31,MEM,76,75,34.3,6.2,13.5,0.460,...,544,854,108,61,31,150,180,1169,0.683,0.000
7,Carmelo Anthony,PF,28,NYK,67,67,37.0,10.0,22.2,0.449,...,326,460,171,52,32,175,205,1920,0.659,0.393
8,James Harden,SG,23,HOU,78,78,38.3,7.5,17.1,0.438,...,317,379,455,142,38,295,178,2023,0.549,0.027
9,Jeremy Lin,PG,24,HOU,82,82,32.2,4.8,10.9,0.441,...,215,247,497,134,29,236,205,1095,0.549,0.000
10,Chandler Parsons,SF,24,HOU,76,76,36.3,6.0,12.4,0.486,...,325,404,269,75,32,147,148,1177,0.549,0.000
11,Paul George,SF,22,IND,79,79,37.6,6.2,14.9,0.419,...,515,603,327,143,51,233,227,1377,0.605,0.000
12,David West,PF,32,IND,73,73,33.4,6.9,13.8,0.498,...,418,563,213,74,69,157,149,1250,0.605,0.000
13,Paul Pierce,SF,35,BOS,77,77,33.4,6.2,14.2,0.436,...,442,487,370,84,30,214,210,1430,0.506,0.000
14,Stephen Curry,PG,24,GSW,78,78,38.2,8.0,17.8,0.451,...,255,314,539,126,12,240,198,1786,0.573,0.002
15,David Lee,PF,29,GSW,79,79,36.8,7.6,14.7,0.519,...,668,886,279,67,22,207,246,1459,0.573,0.001
16,Klay Thompson,SG,22,GSW,82,82,35.8,6.2,14.7,0.422,...,274,306,183,86,45,157,237,1359,0.573,0.000
17,Blake Griffin,PF,23,LAC,80,80,32.5,7.2,13.4,0.538,...,476,662,299,97,50,185,231,1440,0.683,0.000
18,Chris Paul,PG,27,LAC,70,70,33.4,5.9,12.2,0.481,...,209,262,678,169,10,159,143,1186,0.683,0.239
19,Tim Duncan,C,36,SAS,69,69,30.1,7.1,14.1,0.502,...,562,686,184,50,183,147,117,1227,0.707,0.054
20,Tony Parker,PG,30,SAS,66,66,32.9,7.9,15.1,0.522,...,180,198,499,54,6,170,92,1341,0.707,0.071
21,Carlos Boozer,PF,31,CHI,79,79,32.2,6.9,14.4,0.477,...,596,771,179,66,28,176,239,1281,0.549,0.000
22,Luol Deng,SF,27,CHI,75,75,38.7,6.2,14.6,0.426,...,314,476,222,81,32,144,105,1237,0.549,0.000
23,Kobe Bryant,SG,34,LAL,78,78,38.6,9.5,20.4,0.463,...,367,433,469,106,25,287,173,2133,0.549,0.152
24,Dwight Howard,C,27,LAL,76,76,35.8,6.2,10.7,0.578,...,694,945,108,84,186,225,291,1296,0.549,0.000
25,Joe Johnson,SG,31,BRK,72,72,36.7,6.2,14.6,0.423,...,165,218,253,49,14,123,99,1170,0.598,0.000
26,Brook Lopez,C,24,BRK,74,74,30.4,7.7,14.8,0.521,...,304,512,70,33,154,131,152,1437,0.598,0.000
27,Deron Williams,PG,28,BRK,78,78,36.4,6.3,14.4,0.440,...,203,232,604,75,30,218,194,1476,0.598,0.000
28,Danilo Gallinari,SF,24,DEN,71,71,32.5,5.1,12.3,0.418,...,302,367,176,64,36,111,130,1149,0.695,0.000
29,Ty Lawson,PG,25,DEN,73,71,34.4,6.1,13.3,0.461,...,162,198,501,107,8,182,135,1216,0.695,0.001
30,Al Jefferson,C,28,UTA,78,78,33.1,7.8,15.8,0.494,...,564,720,164,80,89,105,170,1391,0.524,0.000
31,Paul Millsap,PF,27,UTA,78,78,30.4,5.5,11.2,0.490,...,377,554,201,102,80,138,232,1135,0.524,0.000
32,Kevin Durant,SF,24,OKC,81,81,38.5,9.0,17.7,0.510,...,594,640,374,116,105,280,143,2280,0.732,0.632
33,Russell Westbrook,PG,24,OKC,82,82,34.9,8.2,18.7,0.438,...,317,428,607,145,24,273,189,1903,0.732,0.007
34,Monta Ellis,SG,27,MIL,82,82,37.5,7.3,17.5,0.416,...,271,316,496,169,36,254,164,1577,0.463,0.000
35,Brandon Jennings,PG,23,MIL,80,80,36.2,6.2,15.6,0.399,...,187,246,521,125,10,203,155,1397,0.463,0.000
36,Al Horford,C,26,ATL,74,74,37.2,7.8,14.3,0.543,...,562,757,240,78,78,147,163,1289,0.537,0.000
37,Josh Smith,PF,27,ATL,76,76,35.3,7.2,15.6,0.465,...,506,639,321,94,136,226,175,1327,0.537,0.000
38,Jeff Teague,PG,24,ATL,80,78,32.9,5.5,12.2,0.451,...,155,180,579,117,28,230,181,1166,0.537,0.000